	body {
		text-align: center;
		margin: 2 5% 2 5%;
	}

	div {
		margin-top: 5;
		margin-bottom: 5;
	}
	
	.borders{
	border-color: black;
	border-width: 5px;
	border-style: solid;
	}
	
	 .header {
	background-color: green; 
    height: 50px;
    width: auto;
	display: block;
	margin: auto;
  }
  
  .bodyC {
	  /* display: flex; */
	  /* flex-direction: row; */
	  /* justify-content: left; */
	  height: auto;
  }
	
	.menu_n_image_holder {
	border-color: grey;
	border-style: double;
	height: auto;
	float:left;
	width:290px;
	box-sizing: border-box;
	}

	.top_n_bot_holder {
	border-color: grey;
	border-style: double;
	height: 100px;
	float: left;
	box-sizing: border-box;
	margin-right: 0;
	width: calc(100% - 290px);
  }
	
	.final {
		background-color:#777;
		width:25%;
		height: 90px;
	}
	
@media screen and (max-width: 425px)
{  
  .menu {
    background-color: yellow;  
    height: 360px;
    /* width: 20%; */
    float: left;
  }
  
  .menu_n_image_holder {
	background-color: yellow;
	display: inline-block;
	}
  
  .top_n_bot_holder {
	background-color: #666;
	display: inline-block;
	min-width: calc(100%);
	}
}